:root {
  --color-very-light-gray:#DDDDDD;
  --color-light-grayish-violet:#f6f5f7;
  --color-very-dark-gray:#333333;
  --color-strong-blue:#358ed7;
  --color-very-dark-grayish-blue:#43484d;
  --color-dark-grayish-blue:#86939e;
  --color-darker-grayish-blue:#5e6977;
  --color-light-grayish-blue:#e1e8ee;
  --color-very-soft-orange:#d9a491;
  --color-mostly-desaturated-dark-red:#734a40;
  --color-very-dark-desaturated-red:#40211e;
}
#home-top h4 {
  text-align:left;
  font-size: 20px;
}

#home-top p {
  text-align:left;
}

.maincontainer {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.maincontainer:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.maincontainer .six.columns {
    width: 340px;
}
.maincontainer .ten.columns {
    width: 580px;
}
.maincontainer .sixteen.columns {
    width: 940px;
}
.maincontainer .column, .maincontainer .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.padding-bottom {
    padding-bottom: 50px;
}
.sep-left {
    position: relative;
    width: 40px;
    border-top: 1px solid #000;
    margin-top: 15px;
    margin-bottom: 30px;
}
.sub-left {
    font-family: 'Montserrat';
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-very-dark-gray);
    margin-bottom: 20px;
}
.sep-wrap {
    position: relative;
    width: 100%;
    margin-top: 60px;
    border-top: 1px dashed rgba(0,0,0,.2);
}

#about {
    position: relative;
    width: 100%;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 2;
}

.sep-center {
    position: relative;
    margin: 0 auto;
    width: 50px;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
}
.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 87px 0 63px 0px;
    overflow: hidden;
}
.flat-row.row-product-new {
    padding: 20px 0px 70px 0px;
}
section,a,div {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
section {
    display: block;
}

.mcontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.title-section {
    position: relative;
    text-align: center;
    margin-bottom: 48px;
}
.margin-bottom-52 {
    margin-bottom: 52px !important;
}

.title-section .title {
    font-size: 32px;
    line-height: 66px;
    font-weight: 500;
    color: var(--color-very-dark-gray);
    position: relative;
}
h2 {
    font-size: 24px;
    line-height: 30px;
    color: #252525;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: var(--color-very-dark-gray);
}
a:hover, a:focus {
    color: #f63440;
    text-decoration: none;
    outline: 0;

    transition: all 0.3s ease-in-out;
}
a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline;
}
a:active, a:hover {
    outline-width: 0;
}
a {
    color: var(--color-very-dark-gray);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-list {
	margin-top:1em;
}
.product-list .product-item {
	display:block;
}

img {
    max-width: 100%;
    height: auto;
}
.title-section .title:before {
    content: "";
    width: 60px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #726468;
    margin: 0 auto;
}
.product-fourcolumn, .product-sixcolumnfull {
    margin-bottom: 13px;
}

.product-content .product {
    width: 100%;
}
ul, ol {
    padding: 0;
}
ol, ul {
    list-style: none;
}

.product.style2 .product-item {
    margin-bottom: 33px;
}
.product-content .product .product-item {
    border-right: 1px solid #efefef;
    text-align: center;
    float: left;
    position: relative;
    margin-bottom: 48px;
    transition: all 0.3s ease-in-out;
}
.product-fourcolumn .product .product-item {
    width: 25%;
}
.product.style2 .product-item .product-thumb {
    padding: 50px 0px 0px 0px;
}
.product .product-item .product-thumb {
    padding: 68px 0px 57px 0px;
}
.product .product-item .product-thumb, .product .product-item .product-info {
    position: relative;
}
a {
    color: var(--color-very-dark-gray);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
*:before, *:after {
    box-sizing: border-box;
}
.fav input:checked + label {
	color:red;
}
.hidden { display:none; }

.product .product-item:hover .add-to-cart, .product .product-item:hover .like {
	opacity: 1;
	visibility: visible;
	        transform: translate(0px,0px);
}
.product .product-item .add-to-cart {
    background:var(--color-moderate-orange);
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translate(0px, 10px);
}
.text-center {
    text-align: center ;
}
.product.style2 .product-item .product-title {
    font-size: 16px;
}
.product .product-item .product-title {
    font-size: 15px;
    line-height: 27px;
    color: var(--color-very-dark-gray);
    font-weight: 500;
}
.product .product-item .price ins {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    color: var(--color-very-dark-desaturated-orange);
    text-decoration: none;
}
.flat-color-list.width-14 {
    margin-top: 6px;
}
.flat-color-list {
    margin-top: 2px;
}
ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}


#home-top img{ 
  width: 100%;
  height:auto;
  display:block;
}

#home-top a {
  position: relative;
  display: inline-block;
  margin-top:25px;
  font-family: 'OpenSans-Light-webfont';
  outline: none;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1em;
}

#home-top a:hover,
#home-top a:focus {
  outline: none;
}

.cl-effect-7 a {
  padding: 12px 0;
  color: #000;
  text-shadow: none;
  font-weight: 400;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,.5);
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.cl-effect-7 a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
  top: 0%;
  opacity: 1;
}


#home-top h4 {
  text-align:left;
  font-size: 20px;
}

#home-top p {
  text-align:left;
}

.maincontainer {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.maincontainer:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.maincontainer .six.columns {
    width: 340px;
}
.maincontainer .ten.columns {
    width: 580px;
}
.maincontainer .sixteen.columns {
    width: 940px;
}
.maincontainer .column, .maincontainer .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.padding-bottom {
    padding-bottom: 50px;
}
.sep-left {
    position: relative;
    width: 40px;
    border-top: 1px solid black;
    margin-top: 15px;
    margin-bottom: 30px;
}
.sub-left {
    font-family: 'Montserrat';
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 20px;
}
.sep-wrap {
    position: relative;
    width: 100%;
    margin-top: 60px;
    border-top: 1px dashed rgba(0,0,0,.2);
}

#about {
    position: relative;
    width: 100%;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 2;
}

.sep-center {
    position: relative;
    margin: 0 auto;
    width: 50px;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
}

.singleproduct_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 150px;
}


.left-column img {
  width: 70%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
  margin-top: 200px;
}


.single_product-description {
  border-bottom: 1px solid var(--color-light-grayish-blue);
  margin-bottom: 20px;
  margin-top:40px;
}
.single_product-description span {
  font-size: 12px;
  color: var(--color-strong-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.single_product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color:var(--color-very-dark-grayish-blue);
  letter-spacing: -2px;
  font-family: Montserrat;
}
.single_product-description p {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-dark-grayish-blue);
  line-height: 24px;
}

.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 20px;
  display: inline-block;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid var(--color-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: var(--color-very-soft-orange);
}
.color-choose input[type="radio"]#blue + label span {
  background-color: var(--color-mostly-desaturated-dark-red);
}
.color-choose input[type="radio"]#black + label span {
  background-color: var(--color-very-dark-desaturated-red);
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid var(--color-light-grayish-blue);
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: var(--color-darker-grayish-blue);
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid var(--color-dark-grayish-blue);
  outline: none;
}

.cable-config {
  border-bottom: 1px solid var(--color-light-grayish-blue);
  margin-bottom: 20px;
}

.cable-config a {
  color: var(--color-strong-blue);
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}


.cproduct-price {
  display: flex;
  align-items: center;
}

.cproduct-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color:var(--color-very-soft-blue);
  border-radius: 6px;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #726468;
}


a img {
  border: none;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.heading {
  padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
}
.heading h1 {
  font-family: "Montserrat", serif;
  font-size: 2em;
   margin-top: 50px;
  float: left;
}
'.heading a.continue:link, .heading a.continue:visited {
  margin-top:50px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276e";
  padding: .5em;
  position: relative;
  right: 0;
  transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f69679;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.heading a.checkout:link, .heading a.checkout:visited {
  margin-top:50px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  transition: all 0.25s linear;
}
.heading a.checkout:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  transition: all 0.15s linear;
}
.heading a.checkout:hover, .heading a.checkout:focus, .heading a.checkout:active {
  background: #f69679;
}
.heading a.checkout:hover:after, .heading a.checkout:focus:after, .heading a.checkout:active:after {
  right: -10px;
}

html {
  line-height: 1;
}


.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: .75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}
.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items.even {
  background: #fafafa;
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}
.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: "Montserrat", sans-serif;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: #726468;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
  color: #F69679;
}
.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 3.1em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em 1em 0 0;
}
.cart .items .cartSection .itemImg {
  width:10em;
  display: inline;
  padding-right: 1em;
}

.special {
  display: block;
  font-family: "Montserrat", sans-serif;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: Montserrat, sans-serif;
}

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: #f30;
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #726468;
}
.promoCode a.btn:hover {
  border: 1px solid #f69679;
  background: #f69679;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #726468;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background: #f69679;
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: .85em;
  paddding: .5em 2em;
}

.subtotal {
  float: right;
  width: 35%;
}
.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }

  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }

  .heading {
    padding: 1em;
    font-size: 90%;
  }

  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }

  .promoCode, .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }


@media only screen and (max-width: 991px)
.flat-row {
    padding: 35px 0px ;
}
@media (min-width: 768px)
.mcontainer {
    width: 750px;
}
@media (min-width: 768px)
.mcontainer {
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 576px)
.mcontainer {
    padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width: 991px)
.title-section, .widget {
    margin: 0px 0px 35px 0px !important;
}
@media only screen and (max-width: 991px)
.product-fourcolumn, .product-sixcolumnfull {
    margin-bottom: 0px;
}
@media only screen and (max-width: 991px)
.product.style2 .product-item {
    margin-bottom: 47px;
}
@media only screen and (max-width: 991px)
.product-content .product .product-item {
    border-right: 0px;
}
@media only screen and (max-width: 991px)
.product-fourcolumn .product .product-item {
    width: 50%;
}
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    margin-top:60px;
    width: 100%;
    height:auto;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
