:root {
  --color-neutral-light:#faf9f9;
}

body {
  background-color: var(--color-neutral-light);
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');


.spec-list {
  display:flex;
  flex-wrap:wrap;
}
.spec-list h3 {
  width:100%;
}
.spec-list dt {
  padding-top:1em;
  flex: 0 0 10em;
  text-align:right;
  padding-right:1em;
  font-weight:bold;
}
.spec-list dd {
  padding-top:1em;
  margin-left:0;
  flex: 1 0 calc(100% - 10em);
}







.fav input:checked + label {
  color:red;
}



.product-thumbs img {
  max-height:4.5em;
}
.product-list {
  margin-top:1em;
}
.product-list .product-item {
  display:block;
}



.overlay {
  position:relative;
  overflow:hidden;
}
.overlay .product-description {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all 0.3s;
  opacity:0;
}
.overlay:hover .product-description {
  opacity:1;
}
.overlay .product-image img {
  transition:all 0.3s;
  transform:scale(1,1);
}
.overlay:hover .product-image img {
  transform:scale(1.5,1.5);
}
.overlay .card {
  transition:all 0.3s;
  transform:translateY(4em);
}
.overlay:hover .card {
  transform:translateY(0);
}





#nav-menu+label {
  display:none;
}

@media (max-width:600px) {
  
  #nav-menu+label {
    display:block;
    padding:0 1rem;
    font-size:1.5em;
  }
  .navbar .nav {
    line-height:1.5em;
    width:100%;
  }

  .navbar ul {
    display:none;
  }
  #nav-menu:checked~.nav ul {
    display:block;
    padding-bottom:1em;
  }

}





.userlist-type {
    font-size: 0.7em;
    font-weight: bold;
    color: var(--color-gray-dark);
}
.userlist-item {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*form*/



